body{background-color:#f2f9fd;}
.panel{background:#fff;}
form .form-group:last-child{padding-bottom:0;}
.passcode{position:absolute;right:0;top:0;height:32px;margin:1px;border-left:solid 1px #ddd;text-align:center;line-height:32px;border-radius:0 4px 4px 0;}


.lefter{position:relative;float:left;width:180px;margin-right:-180px;background:#e6f2fb;text-align:center;}
.righter{float:right;width:100%;padding-top:15px;background:#e6f2fb;}
.mainer{margin-left:180px;}

/*.logo{border-bottom:solid 1px #b5cfd9;padding:23px 10px;}*/
.logo{padding:23px 10px;}

.admin-navbar{border-bottom:solid 5px #09c;padding:0 15px;}
.admin-nav li{display:inline-block;}
.admin-nav ul{display:none;}
.admin-nav ul li{float:none;display:block;}
.admin-nav ul ul li{list-style:circle;margin-left:15px;}
.admin-nav .active a{background:#09c;color:#fff;border-radius:4px 4px 0 0;}
.admin-nav .active ul{display:block;position:fixed;left:0;width:180px;margin-top:53px;}
.admin-nav .active ul a{background:transparent;color:#333;border-radius:0;}
.admin-nav .active .active a{background:#e6f2fb;border-top:solid 1px #b5cfd9;border-bottom:solid 1px #b5cfd9;}

.admin-bread{background:#f2f9fd;border-left:solid 1px #b5cfd9;border-bottom:solid 1px #b5cfd9;line-height:20px;}
.admin-bread .bread{margin-bottom:0;}	
.admin-bread span{float:right;font-size:12px;color:#666;line-height:36px;}

.admin{padding:30px;background:#fff;position:fixed;border-left:solid 1px #b5cfd9;right:0;bottom:0;top:87px;left:180px; overflow:auto;}
.alert{margin-bottom:20px;}
.admin-panel td{line-height:24px;}
.admin-panel td .button{line-height:16px;}
.admin-panel .pagination .active{background:#DA9292;}

#mainList{width: 950px; text-align: center;}
#mainList *{margin: 0px; padding: 0px;}
#mainList a{color: blue;text-decoration: none;}
#mainList a:hover{color: red;}
#mainList .title{text-align: left;}        
#mainList .content{width: 240px;_height: 200px;min-height: 200px;margin:0 auto;text-align: left;}
#mainList .content label{margin: 0 5px;}
#mainList .controller{text-align: left;}
#mainList .cyList{text-align: center;border: 1px solid lightblue;overflow-x:hidden;y: scroll;}
#mainList .cyList span{float: left;white-space: nowrap;margin-left: 5px;}
#mainList #leftDiv, #mainList #rightDiv{float: left;}
#mainList #btnsDiv{float: left;width: 90px; margin: 95px 5px;}
#mainList #btnsDiv input{width: 60px;border: 1px solid lightblue;height: 24px;margin: 3px 0;}
#mainList #btnsDiv input:hover{background-color: lightblue;}